.admin-container {
  display: grid;
  grid-template-columns: 260px 1fr;
  min-height: calc(100vh - 70px);
}

.sidebar {
  background-color: var(--primary-navy);
  color: white;
  padding: 2rem 1.5rem;
  border-top: 1px solid #002d5c;
}

.sidebar-title {
  color: var(--accent-orange);
  font-size: 1.2rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.sidebar-menu li {
  padding: 0.8rem 1rem;
  margin-bottom: 0.5rem;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.sidebar-menu li:hover, .sidebar-menu li.active {
  background-color: var(--accent-orange);
  color: var(--primary-navy);
  font-weight: bold;
}

.admin-card {
  background: white;
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  border-top: 4px solid var(--primary-navy); /* Detalle superior en marino */
}

.btn-save {
  background-color: var(--primary-navy);
  color: white;
  border: none;
  padding: 1rem;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
}

.btn-save:hover {
  background-color: var(--accent-orange);
  color: var(--primary-navy);
}

input:focus, select:focus, textarea:focus {
  border: 2px solid var(--primary-navy);
}